NODE_ENV=dev
DATABASE_URL="mysql://root:zee@localhost:3306/gacha"
JWT_SECRET=VERY_SECRET_KEY

# Cloudinary
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_SECRET_KEY